doctype html
html
  head
    title Notes
    link(rel='stylesheet' href='/static/style.css')

  body
    header
      h1 Notes
        a(href='/') Notes

      nav
        a(href='/create') Create note
        a(href='/archive') Archive

    block content